/* Desktop */
body {
    background: #2b2b2b;
    color: #f1f1f1;
    font-family: "Courier New", sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

body img {
    max-width: 100%;
}

.header {
    margin: 70px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.header h1 {
    margin: 0;
    text-align: center;
}

/* Typography */

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: royalblue;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #d0d0d0;
}

p {
    text-shadow: 2px 2px 10px #444d55;
    line-height: 1.2;
}

/*  Layout  */

section {
    margin: 50px auto;
    scroll-margin-top: 80px;
    max-width: 1000px;
}

#Me {
    border-radius: 50%;
    border: 5px solid royalblue;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    width: 200px;
    height: auto;
}

#Code {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(248, 249, 246);
    width: 400px;
    max-width: none;
    height: auto;
}

#About {
    margin-top: 0;
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2em auto;
    padding: 1em;
}

.about img {
    flex: 1;
    width: 100%;
    max-width: 700px;
    height: auto;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.job {
    flex: 1 1 300px;
    background-color: #302e36e5;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px rgb(248, 249, 246);
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title {
    font-size: 22px;
    font-weight: bold;
    color: royalblue;
}

.job-date {
    font-size: 14px;
    color: #ccc;
}

.job-desc {
    margin: 0;
}

#Connect ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 50px;
    max-width: fit-content;
    margin: 0 auto;
}

#Connect li {
    margin: 0;
}

#Connect a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    background: #f0f0f0;
    padding: 8px 14px;
    border-radius: 6px;
}

.icon {
    width: 24px;
    height: 24px;
}

#Connect a:hover {
    background: royalblue;
    color: #f0f0f0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2f2f2f;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: #e0e0e0;
    font-weight: bold;
}

nav a:hover {
    color: royalblue;
}

/* Tablet */
@media (max-width: 900px) {
    .header {
        max-width: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 0 2em;
    }

    .header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        text-align: center;
        max-width: 250px;
        flex: 1;
        white-space: normal;
    }

    #Me {
        width: 180px;
        flex-shrink: 0;
    }

    .about {
        flex-direction: column;
        margin: 1em auto;
        padding: 0 2em;
    }

    .about p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .experience {
        flex-direction: column;
        padding: 0 50px;
    }

    .job {
        flex: 1 1 100%;
        font-size: 1.1rem;
    }

    .job-title {
        font-size: 1.2rem;
    }

    nav ul {
        gap: 10px;
    }

    nav a {
        font-size: 1rem;
        padding: 4px 8px;
    }

    #Connect a {
        font-size: 1.1rem;
        padding: 6px 12px;
    }

    #Connect ul {
        gap: 35px;
    }
}

/* Mobile */
@media (max-width: 550px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        text-align: center;
        margin-top: 120px;
    }

    section {
        scroll-margin-top: 120px;
    }

    #Me {
        width: 150px;
    }

    .header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 50px;
    }

    .about {
        gap: 1rem;
    }

    #Code {
        max-width: 90%;
    }

    .about p {
        font-size: 1rem;
        line-height: 1.3;
    }

    .job {
        flex: 1 1 100%;
        font-size: 1rem;
    }

    .job-title {
        font-size: 1.1rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        width: 70%;
    }

    nav li {
        flex: 1 1 30%;
        text-align: center;
        max-width: 110px;
    }

    nav a {
        font-size: 0.9rem;
        padding: 4px 8px;
    }

    #Connect a {
        font-size: 1rem;
        padding: 6px 10px;
    }

    #Connect ul {
        gap: 20px;
    }
}